<%- include ('header') -%>

  <h2 style="text-align: center;">Felhasználási feltételek</h2>
  <pre>

    Rip ezt úgysem olvassa el soha senki. De azért vicces, hogy ezt belerakom...
    Ha már itt vagy, itt van pár vicc, hátha feldobra egy kicsit a kedved :)

    - Hogy hívják a legmelegebb hálózatot?
    - Katlan.

    - Hogy mondják a számítástechnikában, hogy ha egy étteremben a fatányérost porcelán tányérban tálalják fel?
    - Fatal error.

    - Hogy hívják az orosz számítógép hálózatot?
    - Nyetwork.

    - Miaz: QWERTYQWERTYQWERTYQWERTYQWERTYQWERTY?
    - A programozó unatkozik!

    - Hogy hívják a templomok közti hálózatot?
    - Paplan.

    - Milyen kávét szolgálnak fel az internet kávézóban?
    - Netscafé.

    - Mit ír fel Dr. Disk a beteg winchesternek?
    - BAC KÚPot.

    - Hol terem a CD ROM?
    - Diszkréten.

    - Melyik a legsivárabb hálózat?
    - Lakatlan.

    - Mi a legújabb laptop számítógépek operációs rendszere?
    - Lap OS.

    Két számítógép beszélget.
    - Te. Milyen jó, hogy mi kompatibilisek vagyunk egymással, nem?
    - Miva' he'?

    - Hány ember kell egy orosz számítógép vezérléséhez?
    - Négy, mert az egyik nézi a képernyőt, a második ugrál a billentyűkön ide-oda, a harmadik tekeri a kurblit és a
    negyedik meg rakja a szenet.

    - Minek a rövidítése a WWW?
    - Wárni, Wárni, Wárni.

    - Mit csinál az internetező rab a börtönben?
    - Letölti a büntetését!

    - Hogyan lehet felismerni egy Internet kalózt?
    - Webhely van az arcán.

    - Mit csinálsz ha húszadszor fagy le a rendszer?
    - Ctrl + Alt + Cipőtalp.

    - Mit csinál a rendszergazda az új titkárnőnél?
    - Egy új felhasználót!!!

    - Miért teszi ki az informatikus a romlandó kaját az ablakok alá?
    - Mert a Windows alatt minden lefagy.

    - Honnan lehet tudni, hogy a szőke nő fel akart menni a netre?
    - A billentyűzeten van a lábnyoma!

    - Hogy hívják a katonai operációs rendszert?
    - CommanDos.

    - Mire táncolnak a programozók a buliban?
    - Algoritmusra.

    - Mit mond az informatikus, amikor beleesik a vízbe?
    - F1! F1! F1!

    - Hol alszanak az álmos bitek? - A hálókártyán.

    - Melyik az a program amelyik megjegyez minden billentyűleütést?
    - Word.

    - Mit mondott Bill Gates a feleségének a nászéjszaka után?
    - Drágám, ez a béta verzió volt!

    - Hány programozó kell egy villanykörte becsavarásához?
    - Egy sem, mert az hardware-hiba.

    - Hogy hívják a tökéletes hálózatot?
    - Makulát-LAN.

    - Mi a különbség a tehéntrágya és a Win95 között?
    - A tehéntrágyából ki lehet lépni.

    - És milyen domain nevet óhajt?
    - Mittu domain!

    - Mi az abszolút rossz kijelentés a Microsoftnál?
    - Majd ha fagy!

    - Hogy hívják a Notre Dame-i rendszergazdát?
    - SCSImodo.

    - Hogy hívják a magányosan álló egérmutatót?
    - Robinson Cursor.

    - Hogy hívják a programozó bokszolót?
    - Linux Lewis.

    - Hogy hívják az informatikus nyomozót?
    - Numlock Holmes.

    - Halló, számítógépszerviz? Kérem, küldjenek ki valakit, mert elromlott a monitor!
    - CGA-monitor?
    - Nem, saját.

    Két számítástechnikus beszélget:
    - Szia! Kölcsön adnál 1000 Ft-ot?
    - Adok 1024-et, hogy kerek legyen!

    Két informatikus beszélget:
    - Neked mi volt eddig a legkomolyabb kapcsolatod?
    - Megabites ADSL...

    - Mit ír a windows, ha megtelt a lemez?
    - No space left on device.
    - És mit ír, ha lelövöldözöd az összes űrhajót és műholdat?
    - No device left on space.

    Tízéves kisfiút elviszi az anyja az orvoshoz, mert lázas, és csúnyán köhög. Mikor kijönnek a rendelőből, az anyuka
    így szól a fiúhoz:
    - A doktor bácsi azt mondta, hogy összeszedtél valami vírust.
    - Hűha, akkor ez azt jelenti, hogy engem is újra kell installálni?!

    Két IT szakember beszélget:
    - Tegnap megkértem a barátnőm kezét! - meséli az egyik.
    - És, igent mondott? - kérdi a másik.
    - Nem tudom, még nem válaszolt az email-emre...

    Két programozó barkóbázik:
    - Gondoltam.
    - Egy?
    - Nem.
    - Akkor nulla.

    Ellesett beszélgetés egy 8 éves kisfiú és 5 éves húga között...
    A kislány így szól a bátyjához:
    - Gyere, segíts felinstallálni ezt a játékot!
    - De buta vagy! Nem tudsz installálni?
    - Az installálás már megy, csak olvasni nem tudok!

    Mit is jelenthet a Windows 98 SE-ben az SE?
    - Semmi Extra
    - Szuper Edition
    - Szar Edition
    - A 98 SE jó
    - Sikertelen Edition
    - ezt SE lehet letörölni

    Két informatikus beszélget:
    - Képzeld, tegnap az éjszakai klubban megismerkedtem egy csinos szőke nővel.
    - Szerencsés fickó!
    - Felhívtam a lakásra, ittunk egy kicsit, átöleltem...
    - És aztán, mi volt még?
    - Egyszer csak azt mondja: "vetkőztess le!"
    - Nahát...
    - Levettem a szoknyáját, aztán a bugyiját is, aztán lefektettem a notebook mellé, az asztalra...
    - No, csak vettél egy notebookot? Milyen processzorral?

    A számítógép-mániás férjet kérdezi a felesége:
    - Drágám, bevásároltál?
    - Bad command or filename.
    - Nem? Na jó, adj egy kis pénzt, majd én elmegyek.
    - Wrong password. Acces denied.
    - Na jó, de legalább megcsináltattad a kocsit?
    - File in use, try later.
    - Most vagy abbahagyod és adsz pénzt, vagy elmész az autóért a műhelybe!
    - Too many parameters.
    - Már meg sem merem kérdezni: jelentek én egyáltalán neked valamit?
    - Unknown Virus.
  </pre>

<%- include ('footer') -%>

