<%- include ('header') -%>
<%- include ('navbar') -%>

  <br />

  <div class="container">
    <div class="row">

      <div class="col-0 col-sm-0 col-md-2 col-lg-2">
      </div>

      <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <table style="font-size: small; margin: 5pt; padding: 5pt;">
          <tr>
            <td style="background-color: transparent;">
              <br />
              <p style="text-indent: 10pt; ">
                Sziasztok én Szalka Panka vagyok, ennek az oldalnak a létrehozója, egyébként meg
                önjelölt művész és zenész, családi humorisra, a sorozatok mindenttudója, és nem mellesleg a BME
                VIK büszke tanulója. Azon gondolkoztam, hogyha sokáig tart ez a karantén esetleg egész
                hasznos kis oldal is lehetne az embereknek, úgyhogy most nagyon agyalok hogy minél
                jobban hasznosítsam ezen az órán tanultakat. Amúgy a képen én vagyok, bár először egy painten
                rajzolt csodát akartam berakni. Azért így mégiscsak hivatalosabb :) . Mindenképp akartam
                egy ilyen kontakt fület, mert egyrészt itt próbálgattam ki az új dolgokat, másrészt tök
                jópofa, hogy itt is megjelenhetek. Na de jó szórakozást az oldalhoz (lesz benne easter-egg)
                és órán tali. /no hivatalos rész/
              </p>

            </td>
            <td style="background-color: transparent;">
              <img src="kepkep.jpg" style="height: 5%; margin: 5pt;" />
            </td>
          </tr>
          <tr>
            <td style="background-color: transparent;">
              <p>...Ezt a webaplikációt azért találtam ki, mivel elég komoly a helyzet már egy éve, és nem túlságosan
                látom
                azt, hogy nagy dolgokat tennénk az átlag emberekért. Az orvosokat nem tudjuk elérni, nem tesztelnek
                minket, a sulikba ugyanolyan betegen járnak a gyerekek, és a szülők nem tudnak mit tenni ezzel az egész
                helyzettel. Szerettem volna valamit adni ezeknek az embereknek, és bízok benne, hogy tényleg segíteni a
                családoknak akár szerte a világon...</p>
              <p>Üdv, Panka</p>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>

<%- include ('footer') -%>