<%- include ('header') -%>
<%- include ('navbar') -%>

    <br />

    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <a href="\posts"><img src="hero.png" id="Image2" width="100%" /></a>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <a href="/profile/<%= user._id%>" ><img src="sick.png" id="Image2" width="100%" /></a>
            </div>
        </div>
    </div>



<%- include ('footer') -%>